<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSA</title>
      <script src="/javascripts/angular.min.js"></script>
      <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" >
      <link rel="stylesheet" href="/stylesheets/animate.min.css" >
      <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.css" >

      <link href="/stylesheets/style.css" rel="stylesheet">

  </head>
  <body ng-app="myApp">
    <!--NAVIGATION-->

    <div id="myNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <a href="#header" class="navbar-brand">Sikh Student Association</a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#header">Home</a></li>
                    <li><a href="#events">Events</a></li>
                    <li><a href="#council">Council</a></li>
                    <li><a href="#sponsors">Sponsors</a></li>
                    <li><a href="#contact">Contact</a></li>

                </ul>
            </div>
        </div>
    </div>
    <!--END NAVIGATION-->
    <!--HEADER-->

    <div id="header" class="header" >
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 wow bounceInLeft" data-wow-delay="0.5s">
                    <h1> Sikh Student Association of San Jose State</h1>
                    <p>
                        Sikh Students Association at San José State University is a student organization representing sikhs at SJSU, with a purpose to promote understanding between sikhs and non-sikh communities on and off campus.
                        Sikh Students Association (SSA) exists to provide a forum for SJSU students to learn about Sikhism, its history, beliefs, and culture.
                        This is achieved by building working relationships with other organizations and performing community service.
                    </p>
                    <a target="_blank" href="https://www.facebook.com/ssasjsu/">
                    <button class="btn btn-lg btn-primary">Facebook Page of SSA</button>
                    </a>
                    <!--<button class="btn btn-lg btn-success">View Detail</button>-->
                </div>
                <div class="col-lg-6 col-md-6 wow bounceInRight" data-wow-delay="0.5s">
                    <img src="/images/ssa_logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
<!--End Header-->
  <!--Events-->
  <div id="events" class="events"  ng-controller="events">
      <div class="container-fluid">

          <h2 class="wow fadeInUp">Events</h2>
          <p>Sikh Student Association of San Jose State University hosts a variety of events throughout the year. Our most popular events are listed below.</p>
          <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.3s">
          <div class="row">
              <div class="span8" style="padding-right:40px; border-right: 1px solid #ccc;">
              <iframe src="https://calendar.google.com/calendar/embed?src=m433qnba44r52dkd7tjabtut7s%40group.calendar.google.com&ctz=America/Los_Angeles" style="border: 0" width="370" height="500" frameborder="0" scrolling="no"></iframe>
              </div>
          </div>
          </div>
          <div class="col-md-7">

              <div class="sideEvents"  class="row">
              <div  class="col-lg-6 wow fadeInRight" data-wow-delay="0.3s">
                  <a target="_blank" href="https://www.facebook.com/pg/ssasjsu/photos/?tab=album&album_id=1473451666012306">
                      <button class="fa fa-black-tie" aria-hidden="true" ></button>
                      <span class="tooltiptext">Formal is a party organized by the SSA annually. Click the button for pictures !</span>
                  </a>
                  <h4>Formal</h4>
              </div>

              <div class="col-lg-6  wow fadeInRight" data-wow-delay="0.3s">
                  <a target="_blank" href="https://www.facebook.com/pg/ssasjsu/photos/?tab=album&album_id=745925002098313">
                      <button class="fa fa-handshake-o" aria-hidden="true"></button>
                      <span class="tooltiptext">General Meeting. Click the button for pictures !</span>
                  </a>
                  <h4>General Meeting</h4>
              </div>

          <div class="row">
              <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.3s">
                  <br><br>
                  <a target="_blank" href="https://www.facebook.com/pg/ssasjsu/photos/?tab=album&album_id=1460718493952290">
                  <button class="fa fa-tumblr-square" aria-hidden="true"></button>
                      <span class="tooltiptext">Turban Day is organized twice a year and focuses on the importance of a Turban for a Sikh. Click the button for pictures !</span>
                  </a>
                  <h4>Turban Day</h4>
              </div>
              <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.3s">
                  <br><br>
                  <a target="_blank" href="https://www.facebook.com/pg/ssasjsu/photos/?tab=album&album_id=1277190125638462">
                  <button class="fa fa-trophy" aria-hidden="true"></button>
                      <span class="tooltiptext">Friday Night Sewa was started by SSA council members a few years ago. Members of the SSA and otherwise share rides together and go for Sewa at San Jose Gurudwara Sahib. Click the button for pictures !</span>
                  </a>
                      <h4>Friday Night Sewa</h4>

              </div>
          </div>
              </div>
          <div class="otherEvents" class="row">
              <button class="btn btn-lg btn-primary wow fadeInUpBig" ng-click="otherEventsButton()">View Other Events</button>
          </div>
          </div>
      </div>
  </div>
  <!--End Events-->

  <!--Council-->
  <div id="council" class="council">
      <div class="container">
          <div class="row">
              <h2 class="wow fadeInUp">Meet our Council Members</h2>
              <p>SSA council members for the Fall Semester 2017</p>
              <div class="col-lg-3 col-md-3  wow flipInY" data-wow-delay="0.4s">
              <img src="/images/member-7.jpg" alt="" class="img-circle">
              <h4>Harkamal Grewal</h4>
                  <b>Council Member</b>
                  <p>Bachelors in Software Engineering</p>
                  <a target="_blank" href="http://www.facebook.com/gharkamal"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.facebook.com/gharkamal"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.instagram.com/hgrewal7"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
              <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="0.6s">
                  <img src="/images/member-1.jpg" alt="" class="img-circle">
                  <h4>Arsh Bhatti</h4>
                  <b>Council Member</b>
                  <p>Masters in Software Engineering</p>
                  <a target="_blank" href="http://www.facebook.com/arshbhatti8"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.instagram.com/inquilabidaur"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.instagram.com/inquilabidaur"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
              <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="0.8s">
                  <img src="/images/member-3.jpg" alt="" class="img-circle">
                  <h4>Karandeep Singh</h4>
                  <b>Council Member</b>
                  <p>Bachelors in Political Science</p>
                  <a target="_blank" href="http://www.facebook.com/M5.Singh"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.facebook.com/M5.Singh"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.instagram.com/karan_oye"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
              <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="1s">
                  <img src="/images/member-4.jpg" alt="" class="img-circle">
                  <h4>Raghuvir Singh</h4>
                  <b>Council Member</b>
                  <p>Bachelors in Aeronautical Engineering</p>
                  <a target="_blank" href="http://www.facebook.com/gugu.singh.92"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.facebook.com/arshbhatti8"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.instagram.com/raghuu14"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
          </div>

          <div class="row">
                  <div class="col-lg-3 col-md-3  wow flipInY" data-wow-delay="0.4s">
                  <img src="/images/member-5.jpg" alt="" class="img-circle">
                  <h4>Jasveen Kaur</h4>
                  <b>Council Member</b>
                  <p>Bachelors in International Business</p>
                  <a target="_blank" href="http://www.facebook.com/profile.php?id=100010201446294"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.facebook.com/arshbhatti8"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.instagram.com/jasveen1997"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
              <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="0.6s">
                  <img src="/images/member-6.jpg" alt="" class="img-circle">
                  <h4>Anil Gherra</h4>
                  <b>Council Member</b>
                  <p>Bachelors in Software Engineering</p>
                  <a target="_blank" href="http://www.facebook.com/anil.gherra"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.facebook.com/arshbhatti8"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.instagram.com/anilgherra"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
              <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="0.8s">
                  <img src="/images/member-2.jpg" alt="" class="img-circle">
                  <h4>Manmeet Gill</h4>
                  <b>Council Member</b>
                  <p>Bachelors in Software Engineering</p>
                  <a target="_blank" href="http://www.facebook.com/msgill001"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.facebook.com/arshbhatti8"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.instagram.com/meet.singh.gill"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
              <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="1s">
                  <img src="/images/member-8.jpg" alt="" class="img-circle">
                  <h4>Arcee Kaler</h4>
                  <b>Council Member</b>
                  <p>Bachelors in Management Information Systems</p>
                  <a target="_blank" href="http://www.facebook.com/arceek"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.facebook.com/arshbhatti8"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.instagram.com/ar_c16"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
          </div>

          <div class="row">
              <div class="col-lg-3 col-md-3  wow flipInY" data-wow-delay="0.4s">
                  <img src="/images/member-9.jpg" alt="" class="img-circle">
                  <h4>Raj Sidhu</h4>
                  <b>Council Member</b>
                  <p>Bachelors in Biological Sciences</p>
                  <a target="_blank" href="http://www.facebook.com/harman.r.sidhu"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.facebook.com/arshbhatti8"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.instagram.com/raaaj_sidhu"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
              <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="0.6s">
                  <img src="/images/member-10.jpg" alt="" class="img-circle">
                  <h4>Saloni Madaan</h4>
                  <b>Council Member</b>
                  <p>Bachelors in Computer Engineering</p>
                  <a target="_blank" href="http://www.facebook.com/saloni.madaan.1"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.facebook.com/arshbhatti8"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.instagram.com/_salonniii"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
              <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="0.8s">
                  <img src="/images/member-11.jpg" alt="" class="img-circle">
                  <h4>Gaurav Singh</h4>
                  <b>Council Member</b>
                  <p>Bachelors in Biological Sciences</p>
                  <a target="_blank" href="http://www.facebook.com/profile.php?id=100010038283050"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.facebook.com/arshbhatti8"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.facebook.com/arshbhatti8"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
              <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="1s">
                  <img src="/images/member-12.png" alt="" class="img-circle">
                  <h4>Bhavya Sachdeva</h4>
                  <b>Council Member</b>
                  <p>Bachelors in Industrial Technology</p>
                  <a target="_blank" href="http://www.facebook.com/profile.php?id=100008271992696"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.facebook.com/arshbhatti8"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.facebook.com/arshbhatti8"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
              <div class="col-lg-12">
              <div class="col-md-6 wow flipInY" data-wow-delay="1s">
                  <img src="/images/member-13.jpg" alt="" class="img-circle">
                  <h4>Subbie Kaur</h4>
                  <b>Council Member</b>
                  <p>Bachelors in Communication Studies and Public Health</p>
                  <a target="_blank" href="http://www.facebook.com/subgun"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.facebook.com/arshbhatti8"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.instagram.com/subbie_kaur"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
              <div class="col-md-6 wow flipInY" data-wow-delay="1s">
                  <img src="/images/member-14.jpg" alt="" class="img-circle">
                  <h4>Akshay Mehta</h4>
                  <b>Council Member</b>
                  <p>Bachelors in International Business</p>
                  <a target="_blank" href="https://www.facebook.com/ssasjsu/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a target="_blank" href="http://www.facebook.com/arshbhatti8"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a target="_blank" href="https://www.instagram.com/9_akshay_mehta_6/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
              </div>
          </div>
      </div>
  </div>
  <!--END COUNCIL-->
  <!--SPONSORS-->

  <div id="sponsors" class="sponsors">
      <div class="container">
          <div class="row">
              <h2 class="wow fadeInUp">OUR PREVIOUS SPONSORS</h2>
              <p>Bahut paise ditte ne saanu, pun intended</p>
              <div class="col-lg-3 col-md-3 wow zoomInDown" data-wow-delay="0.3s">
                  <li><img src="/images/client1.png" alt=""></li>
              </div>
              <div class="col-lg-3 col-md-3 wow zoomInDown" data-wow-delay="0.6s">
                  <li><img src="/images/client2.png" alt=""></li>
              </div>
              <div class="col-lg-3 col-md-3 wow zoomInDown" data-wow-delay="0.9s">
                  <li><img src="/images/client3.png" alt=""></li>
              </div>
              <div class="col-lg-3 col-md-3 wow zoomInDown" data-wow-delay="1.2s">
                  <li><img src="/images/client4.png" alt=""></li>
              </div>
          </div>
      </div>
  </div>
  <!--END SPONSORS-->
  <!--CONTACT-->
    <div id="contact" class="contact">
        <div class="container">
            <div class="row">
                <h2 class="wow fadeInUp">Contact</h2>
                <p class="wow fadeInUp" data-wow-delay="0.4">You can contact us for any queries about sponsoring our events or about our Committee by submitting this form</p>
                <div class="col-lg-6 col-md-6">
                    <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="0.8s">
                        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" aria-describedby="sizing-addon1" placeholder="Full Name">
                    </div>
                    <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.2s">
                        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" aria-describedby="sizing-addon1" placeholder="Email Address">
                    </div>
                    <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.6s">
                        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" aria-describedby="sizing-addon1" placeholder="Phone Number">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="input-group wow fadeInUp" data-wow-delay="2s">
                        <textarea name="" id="" cols="80" rows="6" class="form-control"></textarea>
                    </div>
                    <button class="btn btn-lg wow fadeInUp" data-wow-delay="2.4s">Submit Your Message</button>
                </div>
            </div>
        </div>
    </div>
    <!---- End Contact ----->


    <!---- Footer ---->

    <div id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h4 class="wow fadeInUp">Contact Us</h4>
                    <p><i class="fa fa-home" aria-hidden="true"></i> Haveli Networks- 405 S 7th Street, San Jose</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> arsh.bhatti8@gmail.com</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> +1 510 246 7340</p>
                    <p><i class="fa fa-globe" aria-hidden="true"></i>www.studentorgs.sjsu.edu/ssa/</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h4>About</h4>
                    <p><i class="fa fa-square-o" aria-hidden="true"></i> About Us</p>
                    <p><i class="fa fa-square-o" aria-hidden="true"></i> Our Constitution</p>

                </div>
                <div class="col-lg-4 col-md-4">
                    <h4>Stay in touch</h4>
                    <i class="social fa fa-facebook" aria-hidden="true"></i>
                    <i class="social fa fa-twitter" aria-hidden="true"></i>
                    <i class="social fa fa-linkedin" aria-hidden="true"></i>
                    <i class="social fa fa-youtube" aria-hidden="true"></i>
                    <i class="social fa fa-github" aria-hidden="true"></i><br>
                    <input type="email" placeholder="Subscribe For Updates"><button class="btn btn-success">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/otherEvents.js"></script>

  </body>

</html>
